@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;;
}
html {
  scroll-behavior: smooth;
  background: #54a0ff;
}
body{
  background: #54a0ff;
}
#scrollToTop{
  
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e62739;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}
#scrollToTop:active{
  background: #ff6373;
}
#scrollToTop:hover{
  background: #ff0019;
}
#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #f1f2f3 url("../img/Infinity-1s-200px.svg") no-repeat center
    center;
  z-index: 99999;
}
header {
  width: 100%;
  height: 100vh;
  background: url("../img/preview.png"), url("../img/header-background.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 50% 100%, cover;
  background-position: right, center;
  background-attachment: fixed;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}

.logo {
  color: white;
  font-size: 50px;
  padding-left: 115px;
  letter-spacing: 5px;
}
.logo span {
  color: rgb(230, 87, 44);
}
.menu {
  margin-right: 50px;
}
.menu a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 4px;
  font-size: 20px;
  font-weight: bolder;
}
.menu a:hover {
  background: rgb(230, 87, 44);
  transition: 0.2s;
  border-radius: 23px;
}

nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  color: white;
  margin-top: 100px;
  margin-left: 100px;
  max-width: 450px;
}
.text h1 {
  font-size: 50px;
  margin: 10px 0px;
}
.text p {
  font-size: 25px;
}
.c-btn {
  border: none;
  outline: none;
  color: white;
  background-color: rgb(230, 87, 44);
  padding: 10px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 23px;
}
.c-btn a {
  text-decoration: none;
  outline-offset: none;
  color: white;
}
#about,
#edu,
#contact {
  padding: 100px 50px;
  border: none;
  outline: none;
}
.section-info {
  font-weight: bold;
  text-align: center;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading hr {
  width: 33%;
  height: 2px;
  color: black;
  background-color: black;
  margin: 10px;
  border: none;
}
.section-info h1 {
  font-size: 50px;
}
.section-info p {
  font-size: 25px;
  color: white;
}
.about-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about-left {
  flex-basis: 50%;
}
.about-left img {
  width: 100%;
  padding: 50px;
}
.about-right {
  flex-basis: 50%;
}
#p1 {
  font-size: 20px;
  font-weight: bold;
}
#p2 {
  font-size: 20px;
  text-align: justify;
}
#skills {
  padding: 100px 50px;
  background: url(../img/bg2.jpg);
  backface-visibility: inherit;
  background-size: cover;
  color: white;
  background-attachment: fixed;
}
.skills-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
  background: rgb(45, 52, 54);
  padding: 50px;
  border-radius: 25px;
}
.skills-left {
  flex-basis: 50%;
  text-align: justify;
}
.st1{
  color: #FF0000 !important;
}
.skills-right {
  flex-basis: 50%;
}
.skills-left p {
  font-size: 20px;
}
progress {
  width: 80%;
  
}

.pr-div {
  width: 70%;
  margin: auto;
}
.pr-div p {
  margin-bottom: 10px;
  font-size: 20px;
  padding-left: 80px;
  text-align: justify;
}
.fa-heart{
 color: #FF0000;
}
#edu ,#edu2{
  background: #54a0ff;
  padding: 80px 50px;
}
.edu-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.edu-box {
  flex-basis: 25%;
  text-align: center;
  box-shadow: 2px 3px 5px grey;
  padding: 20px;
  margin-top: 20px;
  background-color: rgb(233, 226, 218);
}
.edu-box:hover {
  background: #e62711;
  color: white;
  transition: 0.4s;
  transform: scale(1.1);
  border: 5px solid gold;
}
.edu-box img {
  width: 60%;
}
.edu-box ul li {
  list-style: none;
}
.projects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card{
  flex-basis: 30%;
  background-color: white;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
}
.card img{
  height: 224px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card:hover{
  box-shadow: 15px 15px 25px -5px rgba(0, 0, 0, 0.7);
}
#contact {
  background: linear-gradient(160deg, #e25545, 45%, rgb(35, 246, 98));
}
.contact-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contact-left {
  flex-basis: 50%;
}
.contact-left img {
  width: 100%;
  padding: 20px;
  background: linear-gradient(120deg, #e62711, #e25545, #88e464, black);
  border-radius: 30px;
}
.contact-right {
  flex-basis: 50%;
}
.contact-right form h2 {
  margin: 20px;
}
.contact-right form input {
  width: 60%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 23px;
  border: none;
  text-decoration: none;
  font-size: 20px;
  outline: none;
}
.contact-right form textarea {
  width: 60%;
  padding: 10px;
  font-size: 20px;
  cursor: auto;
  border-radius: 23px;
  border: none;
  text-decoration: none;
  outline: none;
}
.contact-right form {
  text-align: center;
}
.social-icons {
  margin: 5px 10px;
  margin-left: 150px;
  display: flex;
  flex-basis: 30%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(100deg, grey, black);
}
#footer h4 {
  color: white;
}
.social-icons a {
  height: 50px;
  width: 50px;
  border-radius: 40px;
  background-color: #f5f6fa;
  text-align: center;
  margin: 10px;
  
  line-height: 60px;
  box-shadow: 1px 4px 2px 2px #dcdde1;
}
.social-icons a i {
  transition: all 0.3s linear;
}
.social-icons a:hover i {
  transform: scale(1.2);
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-instagram {
  color: #e84393;
}
.fa-linkedin {
  color: #0097e6;
}
#sidenav {
  display: none;
}



::selection{
  color: #fff;
  background: #ff7979;
}
.wrapper{
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line{
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row{
  display: flex;
}
.wrapper .row-1{
  justify-content: flex-start;
}
.wrapper .row-2{
  justify-content: flex-end;
}
.wrapper .row section{
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before{
  right: -7px;
}
.row-2 section::before{
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ff7979;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}
.center-line .scroll-icon{
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon{
  top: 15px;
  right: -60px;
}
.row-2 section .icon{
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title{
  font-size: 22px;
  font-weight: 600;
}
.row section p{
  margin: 10px 0 17px 0;
}
.row section .bottom a{
  text-decoration: none;
  background: #ff7979;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover{
  transform: scale(0.97);
}
@media(max-width: 790px){
  .wrapper .center-line{
    left: 40px;
  }
  .wrapper .row{
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section{
    width: 100%;
  }
  .row-1 section::before{
    left: -7px;
  }
  .row-1 section .icon{
    left: -60px;
  }
}
@media(max-width: 440px){
  .wrapper .center-line,
  .row section::before,
  .row section .icon{
    display: none;
  }
  .wrapper .row{
    margin: 30px 0;
  }
}
